body {
    background-color: #555;
}

h1 {
    color: white;
}

header {
    text-align: center;
}

.fotoperfil {
    border-radius: 150px;
    border-style: solid;
}

.navbar-nav {
    align-items: center;
}